.img1 {
  position: relative;
}

.img11-100 {
  height: 100px;
  width: 100px;
  min-width: 100px;
  border-radius: 0.25rem;
}

.img111-rounded {
  border-radius: 50rem;
  overflow: hidden;
}

.profile-img {
  margin-top: -4.375rem !important;
}

.profile-img img {
  border: 4px solid #fff;
}

/* .content-inner {
  padding: 2rem
} */

.position-relative {
  position: relative !important; }


  .rounded-pill {
      border-radius: 50rem !important;  }

      .img-50 {
          height: 30px;
          width: 40px;
          border-radius: 0.25rem; }


          .img-500 {
              height: 50px;
              width: 50px;
              border-radius: 0.25rem; }


      .colorr{
          background-color:  rgb(24, 25, 26) !important;
      }
      .card{
          border-radius: 5px !important;
          color: white !important;
          background-color: rgba(51, 50, 50, 0.884) !important;

      }

      .boxborder{
          border: 1px solid grey;
          width: 90px;

      }